// Place all the styles related to the tapAll controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Colors
$black: #000;
$white: #fff;
$green: #629f1b;
$grey: #ddd;

/* Global */

html{
    height: 100%;
}

body {
    min-height: 100%;
    font-family: helvetica, sans-serif;
    background-color: $grey;
}
.container {
    width: 768px;
    margin: 0 auto;
}

/* header */

#bandeau {
    font-size: 1em;
    color: $white;
    background: $black;
    padding: 20px 0;
    text-align: center;
    h1 {
        margin: 0;
        padding: 30px 0;
        text-transform: uppercase;
    }
}

.playBoard {
    background-color: $green;
    color: $white;
    position: relative;

    #score {
        display: none;
        padding: 10px 0 10px 10px;
        text-align: left;
    }
    #countdown {
        position: absolute;
        top: 0;
        right: 50px;
        padding: 10px 10px 10px 10px;
    }
}


/* Boutons Lancement jeu et Rejouer */

#start,
#newGame {
    text-align: center;
    color: $white;
    margin: 0 auto;
    position: absolute;
    top: 40%;
    left: calc(50% - 200px);
    width: 400px;
    background-color: $green;
    border-radius: 5px;
    padding: 1em 0;
    cursor: pointer;
}

#newGame a {
    color: $white;
    text-decoration: none;
}


/* Contenu du jeu */

#zoneJeu {
    width: 760px;
    height: 400px;
    margin: 40px auto;
    position: relative;
    top: 0;
    background-color: $white;
}

.letter {
    position: absolute;
    width: 30px;
    height: 30px;
    font: bold 14px verdana;
    background-color: $green; // par défaut
    text-align: center;
    line-height: 26px;
    border-radius: 100%;
}


/* Footer */

#infos {
    background-color: lighten($black, 10%);
    color: $white;
    padding: 20px 0;
    p {
        font-size: 0.8em;
        color: $grey;
        a {
            color: blueviolet;
            text-decoration: none;
        }
        
        
    }
}